@page
@model IssueTrackingSystem.Pages.Dashboard.IndexModel
@{
    //create empty obj called data with 2 properties - value, name
        
}
<section class="section dashboard">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Home</a></li>
                <li class="breadcrumb-item">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <!-- Open Issues Card -->
                <div class="col">
                    <div class="card info-card issues-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Open Issues <span></span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-door-open"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@Model.DashboardViewModel.OpenIssues</h6>
                                    <span class="text-success pt-1 fw-bold">12%</span> <span class="text-muted pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- Open Issues Card -->
                <!-- Overdue Issues Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card overdue-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Overdue Issues <span></span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-alarm"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@Model.DashboardViewModel.OverdueIssues</h6>
                                    <span class="text-success pt-1 fw-bold">8%</span> <span class="text-muted pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- Overdue Issues Card -->
                <!-- Projects Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card projects-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Projects <span></span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-kanban"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@Model.DashboardViewModel.TotalProjects</h6>
                                   @* <span class="text-danger pt-1 fw-bold">12%</span> <span class="text-muted pt-2 ps-1">decrease</span>*@

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- Projects Card-->
               
                
                <!-- Open Issues Table -->
                <div class="col-12">

                        <div class="card">

                            <div class="card-body">
                                @*div with classes to show card-title and create new link on same line with the link being on right side of card*@
                                <div class="align-middle pb-2">

                                    <h2 class="card-title d-inline-block">Open Issues</h2>
                                    <a class="btn btn-outline-primary float-end " asp-page="/Issues/Create"><i class="bi bi-plus-lg" style="font-weight: bold;"></i> Create New</a>
                                </div>
                                <div class="table-responsive">
                                    <table id="issuesTable" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Actions</th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DashboardViewModel.Issues[0].AssignedToId)
                                                </th>
                                                <th>
                                                @Html.DisplayNameFor(model => model.DashboardViewModel.Issues[0].TargetResolutionDate)
                                                </th>
                                                <th>
                                                @Html.DisplayNameFor(model => model.DashboardViewModel.Issues[0].Project)
                                                </th>
                                                <th>
                                                @Html.DisplayNameFor(model => model.DashboardViewModel.Issues[0].Status)
                                                </th>
                                                <th>
                                                @Html.DisplayNameFor(model => model.DashboardViewModel.Issues[0].Priority)
                                                </th>
                                                <th>
                                                @Html.DisplayNameFor(model => model.DashboardViewModel.Issues[0].Title)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DashboardViewModel.Issues[0].Description)
                                                </th>                                              
                                              

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DashboardViewModel.Issues)
                                            {
                                                <tr>
                                                    <td>
                                                        @*create a dropdown list button with edit and delete links and routes*@
                                                        <div class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                                Actions
                                                            </button>
                                                            <ul class="dropdown-menu shadow animated--grow-in" aria-labelledby="dropdownMenuButton">
                                                                <li><a class="dropdown-item" asp-page="/Issues/Edit" asp-route-id="@item.IssueId">Edit</a></li>
                                                                <li><a class="dropdown-item" asp-page="/Issues/Details" asp-route-id="@item.IssueId">Details</a></li>
                                                                <li><a class="dropdown-item" asp-page="/Issues/Delete" asp-route-id="@item.IssueId">Delete</a></li>
                                                                @*add form button link to call OnPostDeleteAsync method *@


                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AssignedToId)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TargetResolutionDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Project.ProjectName)
                                                    </td>                                              
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Status)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Priority)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Title)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Description)
                                                    </td>
                                                    


                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                </div><!-- End Issues Table -->
                <!-- ======= Overdue Issues ======= -->
                <div class="card">

                    <div class="card-body">
                        @*div with classes to show card-title and create new link on same line with the link being on right side of card*@
                        <div class="align-middle pb-2">

                            <h2 class="card-title d-inline-block text-danger">Overdue Issues</h2>
                            <a class="btn btn-outline-primary float-end " asp-page="Create"><i class="bi bi-plus-lg" style="font-weight: bold;"></i> Create New</a>
                        </div>
                        <div class="table-responsive">
                            <table id="overdueIssuesTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Actions</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DashboardViewModel.Issues[0].AssignedToId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DashboardViewModel.Issues[0].TargetResolutionDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DashboardViewModel.Issues[0].Project)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DashboardViewModel.Issues[0].Status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DashboardViewModel.Issues[0].Priority)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DashboardViewModel.Issues[0].Title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DashboardViewModel.Issues[0].Description)
                                        </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OverdueIssues)
                                    {
                                        <tr>
                                            <td>
                                                @*create a dropdown list button with edit and delete links and routes*@
                                                <div class="dropdown">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Actions
                                                    </button>
                                                    <ul class="dropdown-menu shadow animated--grow-in" aria-labelledby="dropdownMenuButton">
                                                        <li><a class="dropdown-item" asp-page="/Issues/Edit" asp-route-id="@item.IssueId">Edit</a></li>
                                                        <li><a class="dropdown-item" asp-page="/Issues/Details" asp-route-id="@item.IssueId">Details</a></li>
                                                        <li><a class="dropdown-item" asp-page="/Issues/Delete" asp-route-id="@item.IssueId">Delete</a></li>
                                                        @*add form button link to call OnPostDeleteAsync method *@


                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AssignedToId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TargetResolutionDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Project.ProjectName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Priority)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>


                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--End Overdue Issues -->

                <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vertical Bar Chart</h5>

                        <!-- Vertical Bar Chart -->
                        <div id="verticalBarChart" style="min-height: 400px;" class="echart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                echarts.init(document.querySelector("#verticalBarChart")).setOption({
                                    title: {
                                        text: 'World Population'
                                    },
                                    tooltip: {
                                        trigger: 'axis',
                                        axisPointer: {
                                            type: 'shadow'
                                        }
                                    },
                                    legend: {},

                                    xAxis: {},
                                        
                                    yAxis: {
                                        type: 'category',
                                        data: ['Brazil', 'Indonesia', 'USA', 'India', 'China', 'World']
                                    },
                                    series: [{
                                        name: '2011',
                                        type: 'bar',
                                        data: [18203, 23489, 29034, 104970, 131744, 630230]
                                    },
                                   
                                    ]
                                });
                            });
                        </script>
                    </div>
                </div>
                </div>
                <!-- End Vertical Bar Chart -->
                
        </div><!-- End Left side columns -->
        </div>
        <!-- Right side columns -->
        <div class="col-lg-4">
            
         <!-- Website Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Issues by Project <span>| Today</span></h5>

              <div id="projectsChart" style="min-height: 400px;" class="echart"></div>
             
                            
                    <script>
                        var dataObj = [];
                        
                        //loop through data and add values to obj
                        @foreach (var i in @Model.OpenIssuesByProject){
                            if (i.Issues.Count > 0)
                            {
                                @:dataObj.push({value: @i.Issues.Count, name: "@i.ProjectName"})
                               
                            }
                        }
                            
                            document.addEventListener("DOMContentLoaded", () => {
                            echarts.init(document.querySelector("#projectsChart")).setOption({
                            tooltip: {
                            trigger: 'item'
                            },
                            legend: {
                            top: '5%',
                            left: 'center'
                            },
                            series: [{
                            name: 'Access From',
                            type: 'pie',
                            radius: ['40%', '70%'],
                            avoidLabelOverlap: false,
                            label: {
                            show: false,
                            position: 'center'
                            },
                            emphasis: {
                            label: {
                            show: true,
                            fontSize: '18',
                            fontWeight: 'bold'
                            }
                            },
                            labelLine: {
                            show: false
                            },


                            data: dataObj
                                 
                        
                                         
                    }]
                  });
                });
              </script>
              
              
            </div>
          </div><!-- End Projects Chart -->
           
           
            
                    
                   
           
        </div><!-- End Right side columns -->
    </div>
</section>

@section Scripts {

    <script src="~/lib/echarts/echarts.min.js"></script>
    <script>
        //create empty obj called data with 2 properties - value, name
       
    </script>
}